{% extends 'main.html.twig' %}

{% block main %}
<div data-role="page" id="offline">
	<div role="main" class="ui-content">
		<h2>You Are Offline</h2>
		<p>This area of the app requires an active internet connection.</p>
		<p><a href="#" class="ui-btn ui-corner-all ui-btn-a" data-rel="back">Go Back</a></p>
	</div>
</div>
{% endblock %}
