$(document).on("pagecontainerbeforeshow", function(event, ui){
	if (ui.toPage[0].id == 'game-tracking') {
		if (mfzch.game.status >= 4){
			$( ":mobile-pagecontainer" ).pagecontainer( "change", "#active-game", { changeHash: false } );
		} else if (mfzch.game.status >= 2){
			$( ":mobile-pagecontainer" ).pagecontainer( "change", "#setup-tie", { changeHash: false } );
		} else if (mfzch.game.status >= 1){
			$( ":mobile-pagecontainer" ).pagecontainer( "change", "#company-entry", { changeHash: false } );
		} else {
			$( ":mobile-pagecontainer" ).pagecontainer( "change", "#game-setup", { changeHash: false } );
		}
	}
});

/* ------ status 0: set parameters ------ */

$(document).on('pagecreate', '#game-setup', function(event){
	// Number of players slider
	$(document).on('change', '#game-players-amount', function(){
		mfzch.game.intendedPlayers = parseInt($('#game-players-amount').val());
		mfzch.updateSetupParameters(mfzch.game);
	});

	// game type switch
	$(document).on('change', '#game-type-switch', function(){
		mfzch.game.gameType = $('#game-type-switch').val();
		mfzch.updateSetupParameters(mfzch.game);
	});

	//
	$(document).on('change', '#gp-framesPerPlayer', function(){
		mfzch.game.minFrames = parseInt($('#gp-framesPerPlayerMin').val());
		mfzch.game.maxFrames = parseInt($('#gp-framesPerPlayerMax').val());
	});

	//
	$(document).on('change', '#gp-stationsPerPlayer', function(){
		mfzch.game.stationsPerPlayer = parseInt($('#gp-stationsPerPlayer').val());
	});

	//
	$(document).on('change', '#gp-unclaimedStations', function(){
		mfzch.game.unclaimedStations = parseInt($('#gp-unclaimedStations').val());
	});

	//
	$(document).on('change', '#gp-doomsday', function(){
		mfzch.game.doomsday = parseInt($('#gp-doomsday').val());
	});

	// tracking level switch
	$(document).on('change', '#game-tracking-level', function(){
		mfzch.game.trackingLevel = $('#game-tracking-level').val();
	});

	// interrupt if game checks before proceeding
	$(document).on('click', '#create-game', function(event){
		event.preventDefault();
		mfzch.game.status = 1;
		mfzch.saveData('game');
		$( ":mobile-pagecontainer" ).pagecontainer( "change", "#company-entry", { changeHash: false } );
	});
});

function gameBlindSetupChanged(e) {
	if ($(this).val() == 'on') {
		mfzch.game.blindSetup = true;
	} else {
		mfzch.game.blindSetup = false;
		mfzch.game.teams = [];
	}
};

$(document).on("pagecontainerbeforeshow", function(event, ui){
	if (ui.toPage[0].id == 'game-setup') {

		$('#game-players-amount').val(mfzch.game.intendedPlayers).slider('refresh');
		$('#game-type-switch').val(mfzch.game.gameType).selectmenu('refresh');
		$('#gp-framesPerPlayerMin').val(mfzch.game.minFrames);
		$('#gp-framesPerPlayerMax').val(mfzch.game.maxFrames);
		$('#gp-framesPerPlayer').rangeslider('refresh');
		$('#gp-stationsPerPlayer').val(mfzch.game.stationsPerPlayer).slider('refresh');
		$('#gp-unclaimedStations').val(mfzch.game.unclaimedStations).slider('refresh');
		$('#gp-doomsdays').val(mfzch.game.doomsday).slider('refresh');
		$('#game-tracking-level').val(mfzch.game.trackingLevel).selectmenu('refresh');

		$(document).off('change', '#game-blind-setup');
		if (mfzch.game.blindSetup) {
			$('#game-blind-setup').val('on').flipswitch('refresh');
		} else {
			$('#game-blind-setup').val('off').flipswitch('refresh');
		}
		$(document).on('change', '#game-blind-setup', gameBlindSetupChanged);

		$('#game-view-access').val(mfzch.game.accessControl).selectmenu('refresh');
		mfzch.updateSetupParameters(mfzch.game);
	}
});

/* ------ status 1: company setup ------ */

$(document).on('pagecreate', '#company-entry', function(event){
	// back
	$(document).on('click', '#change-parameters', function(event){
		mfzch.game.status = 0;
		mfzch.saveData('game');
		$( ":mobile-pagecontainer" ).pagecontainer( "change", "#game-setup", { changeHash: false } );
	});

	// add team
	$(document).on('click', '#team-add', function(){
		var team = new teamModel();

		var teamDesc = mfzch.generateDescriptor();

		team.name = uniqueName(teamDesc[0], buildNameArray(mfzch.game.teams));
		team.color = teamDesc[1];

		mfzch.game.teams.push(team);
		mfzch.saveData('game');

		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);

		var teamid = mfzch.game.teams.length-1;
		var team = mfzch.game.teams[teamid];

		$('#team-index').val(teamid);
		$('#team-name').val(team.name);
		$('#team-color').val(team.color);

		if (mfzch.game.trackingLevel > 10) {
			mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		} else {
			$('#team-frames').val(team.gFrames).slider( "refresh" );
			$('#team-systems').val(team.sSystems).slider( "refresh" );
			mfzch.updateSystemsInputs();
		}

		mfzch.saveData('game');

		$('#team-adjust').popup('open');
	});

	// delete team
	$(document).on('click', '.team-del', function(){
		var teamid = $(this).parent().attr('data-teamid');
		mfzch.game.teams.splice(teamid, 1);
		mfzch.saveData('game');

		$('#teams [data-teamid=' + teamid + ']').slideUp(function(){
			mfzch.updateTeamList(mfzch.game);
		});

		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	// manage team
	$(document).on('click', '.team-manage', function(){
		var teamid = $(this).parent().attr('data-teamid');
		var team = mfzch.game.teams[teamid];

		$('#team-index').val(teamid);
		$('#team-name').val(team.name);
		$('#team-color').val(team.color);

		if (mfzch.game.trackingLevel > 10) {
			mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		} else {
			$('#team-frames').val(team.gFrames).slider( "refresh" );
			$('#team-systems').val(team.sSystems).slider( "refresh" );
			mfzch.updateSystemsInputs();
		}
	});

	$(document).on('focus', '#team-name', function(){
		this.select();
	});

	$(document).on('focus', '#team-frames', function(){
		this.select();
	});

	$(document).on('focus', '#team-systems', function(){
		this.select();
	});

	$(document).on('change', '#team-name', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		team.name = uniqueName($('<div/>').text($('#team-name').val()).html(), buildNameArray(mfzch.game.teams));

		mfzch.updateTeamList(mfzch.game);
		mfzch.saveData('game');
	});

	$(document).on('change', '#team-color', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		team.color = $('#team-color').val();

		mfzch.updateTeamList(mfzch.game);
		mfzch.saveData('game');
	});

	$(document).on('change', '#team-frames', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		team.gFrames = parseInt($('#team-frames').val());

		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	$(document).on('change', '#team-systems', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		team.sSystems = parseInt($('#team-systems').val());

		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	// team regen name/color
	$(document).on('click', '#team-regen', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		var teamDesc = mfzch.generateDescriptor();

		$('#team-name').val(teamDesc[0]);
		$('#team-color').val(teamDesc[1]);
		team.name = uniqueName(teamDesc[0], buildNameArray(mfzch.game.teams));
		team.color = teamDesc[1];

		mfzch.updateTeamList(mfzch.game);
		mfzch.saveData('game');
	});

	// add frame
	$(document).on('click', '#team-frame-add', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];

		var frame = new frameModel();
		frame.name = uniqueName('Frame', buildNameArray(team.cFrames));

		team.cFrames.push(frame);
		team.gFrames = team.cFrames.length;
		team.sSystems = team.totalSystems();

		mfzch.updateTeamList(mfzch.game);

		var frameid = team.cFrames.length-1;

		$('#team-index').val(teamid);
		$('#team-frame-index').val(frameid);
		$('#team-adjust-frame-name').val(team.cFrames[frameid].name);
		$('#team-adjust-frame-systems').html(team.cFrames[frameid].getSystemDisplay(false, true));

		// go to frame selector next
		$('#team-adjust').on({
			popupafterclose: function() {
				setTimeout( function(){
					$('#team-adjust-frame').popup('open');
					$('#team-adjust').off('popupafterclose');
				}, 100 );
			}
		});

		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');

		$('#team-adjust').popup('close');
	});

	// delete frame
	$(document).on('click', '#team-adjust-long-company-list .team-frame-del', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $(this).parent().attr('data-frameid');

		team.cFrames.splice(frameid, 1);
		team.gFrames = team.cFrames.length;
		team.sSystems = team.totalSystems();

		$('#team-adjust-long-company-list [data-frameid=' + frameid + ']').slideUp(function(){
			mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		});

		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	// manage frame
	$(document).on('click', '.team-frame-manage', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $(this).parent().attr('data-frameid');

		$('#team-frame-index').val(frameid);
		$('#team-adjust-frame-name').val(team.cFrames[frameid].name);
		$('#team-adjust-frame-systems').html(team.cFrames[frameid].getSystemDisplay(false, true));

		// go to frame selector next
		$('#team-adjust').on({
			popupafterclose: function() {
				setTimeout( function(){
					$('#team-adjust-frame').popup('open');
					$('#team-adjust').off('popupafterclose');
				}, 100 );
			}
		});

		$('#team-adjust').popup('close');
	});

	$(document).on('focus', '#team-adjust-frame-name', function(){
		this.select();
	});

	// add system
	$(document).on('click', '#team-adjust-frame a.add-sys', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $('#team-frame-index').val();

		team.cFrames[frameid].addSystem($(this).attr('data-sys-type'));
		$('#team-adjust-frame-systems').html(team.cFrames[frameid].getSystemDisplay(false, true));

		mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	// reset systems
	$(document).on('click', '#team-adjust-frame a.reset-sys', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $('#team-frame-index').val();

		team.cFrames[frameid] = new frameModel();
		var frameName = $('#team-adjust-frame-name').val();
		team.cFrames[frameid].name = uniqueName($('<div/>').text(frameName).html(), buildNameArray(team.cFrames));

		$('#team-adjust-frame-systems').html(team.cFrames[frameid].getSystemDisplay(false, true));

		mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	// remove system
	$(document).on('click', '#team-adjust-frame-systems li', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $('#team-frame-index').val();

		team.cFrames[frameid].removeSystem($(this).attr('data-sys'));

		$('#team-adjust-frame-systems').html(team.cFrames[frameid].getSystemDisplay(false, true));

		mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');
	});

	$(document).on('change', '#team-adjust-frame-name', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $(this).parent().attr('data-frameid');

		var frameName = $('#team-adjust-frame-name').val();
		team.cFrames[frameid].name = uniqueName($('<div/>').text(frameName).html(), buildNameArray(team.cFrames));

		mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		mfzch.saveData('game');
	});

	// always return to team dialog after
	$('#team-adjust-frame').on({
        popupafterclose: function() {
			mfzch.updateTeamFrameList(mfzch.game, mfzch.game.teams[$('#team-index').val()], $('#team-adjust-long-company-list'));
            setTimeout( function(){ $('#team-adjust').popup('open') }, 100 );
        }
    });

	// update max systems (when tracking >10)
	$(document).on('change', '#team-frames', function(){
		mfzch.updateSystemsInputs();
	});

	// company import
	$(document).on('click', '#team-choose-company', function(){
		// go to company selector next
		$('#team-adjust').on({
			popupafterclose: function() {
				setTimeout( function(){
					$('#team-import-company').popup('open');
					$('#team-adjust').off('popupafterclose');
				}, 100 );
			}
		});
		$('#team-import-company-list').html(mfzch.getShortCompanyList());
		$('#team-import-company-list').listview('refresh');
		$('#team-adjust').popup('close');
	});

	// choose company
	$(document).on('click', '#team-import-company-list li', function(){
		var teamid = $('#team-index').val();
		var team = mfzch.game.teams[teamid];
		var companyid = $(this).attr('data-id');
		var company = mfzch.companies[companyid]

		team.name = uniqueName(company.name, buildNameArray(mfzch.game.teams));
		team.color = company.color;
		team.cFrames = [];
		company.frames.forEach (function(item, index){
			var frame = new frameModel();
			$.extend(true, frame, company.frames[index]);
			team.cFrames.push(frame);
		})
		team.gFrames = team.cFrames.length;
		team.sSystems = team.totalSystems();

		$('#team-name').val(team.name);
		$('#team-color').val(team.color);
		$('#team-frames').val(team.gFrames).slider( "refresh" );
		$('#team-systems').val(team.sSystems).slider( "refresh" );
		mfzch.updateSystemsInputs();

		mfzch.updateTeamFrameList(mfzch.game, team, $('#team-adjust-long-company-list'));
		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);
		mfzch.saveData('game');

		$('#team-import-company').popup('close');
	});

	// always return to team dialog after
	$('#team-import-company').on({
        popupafterclose: function() {
			mfzch.updateTeamFrameList(mfzch.game, mfzch.game.teams[$('#team-index').val()], $('#team-adjust-long-company-list'));
            setTimeout( function(){
				$('#team-adjust').popup('open');
			}, 100 );
        }
    });

	// confirm companies; decide destination
	$(document).on('click', '#confirm-companies', function(){
		mfzch.game.reset();
		mfzch.game.setPPA();
		mfzch.game.updateScores();
		mfzch.game.sortByScore();

		if (mfzch.game.trackingLevel >= 20) {
			for (var i in mfzch.game.teams) {
				var team = mfzch.game.teams[i];
				team.gFrames = team.cFrames.length;
				team.sSystems = team.totalSystems();
			}
		}

		if (mfzch.game.gameType == "Battle"
			|| mfzch.game.gameType == "Skirmish") {

			if (mfzch.game.tiedForDefense()) { // check for defensive tie
				mfzch.game.status = 2;

				mfzch.saveData('game');

				$( ":mobile-pagecontainer" ).pagecontainer( "change", "#setup-tie", { changeHash: false } );
			} else {
				mfzch.game.status = 3;
				mfzch.saveData('game');

				$( ":mobile-pagecontainer" ).pagecontainer( "change", "#game-deployment", { changeHash: false } );
			}
		} else {
			mfzch.game.status = 4;
			mfzch.saveData('game');

			$( ":mobile-pagecontainer" ).pagecontainer( "change", "#active-game", { changeHash: false } );
		}
	});
});

$(document).on("pagecontainerbeforeshow", function(event, ui){
	if (ui.toPage[0].id == 'company-entry') {
		mfzch.outputSetupParameters(mfzch.game);
		mfzch.updateTeamList(mfzch.game);
		mfzch.updateReadyStatus(mfzch.game);

		$('#team-frames').attr('max', mfzch.game.maxFrames);
		$('#team-frames').attr('min', mfzch.game.minFrames);
		$('#team-systems').attr('max', mfzch.game.maxFrames * 4);

		if (mfzch.game.trackingLevel < 20) {
			$('#team-adjust-data-short').show();
			$('#team-adjust-data-long').hide();
		} else {
			$('#team-adjust-data-short').hide();
			$('#team-adjust-data-long').show();
		}

		if (mfzch.companies.length) {
			$('#team-choose-company').show();
		} else {
			$('#team-choose-company').hide();
		}
	}
});

/* ------ status 2: tie resolution ------ */

$(document).on('pagecreate', '#setup-tie', function(event){
	$(document).on('click', '#tie-frame-add-submit', function(){
		var teamid = $('#def-team-choice-index').val();
		var team = mfzch.game.teams[teamid];

		if (mfzch.game.trackingLevel < 20) {
			team.gFrames++;
			team.sSystems += parseInt($('#tie-frame-add-amount-short').val());
		} else {
			/*
			// get frameid ***
			team.cFrames.push(***);
			*/
			team.gFrames = team.cFrames.length;
			team.sSystems = team.totalSystems();
		}

		mfzch.saveData('game');
		$('#tie-frame-add').popup('close');
		mfzch.determineTieChoices(mfzch.game);
	});

	$('#tie-frame-remove').on({
        popupbeforeposition: function() {
			var teamid = $('#def-team-choice-index').val();
			var team = mfzch.game.teams[teamid];

			if (mfzch.game.trackingLevel < 20) {
				var maxSys = Math.min(4, team.sSystems);
				var minSys = team.sSystems - ((team.gFrames - 1) * 4);

				if (minSys == maxSys) {
					team.gFrames--;
					team.sSystems -= maxSys;
					mfzch.saveData('game');
					$('#tie-frame-remove').popup('close');
					mfzch.determineTieChoices(mfzch.game);
				} else {
					$('#tie-frame-remove-amount-short').attr('min', minSys).slider('refresh');
					$('#tie-frame-remove-amount-short').attr('max', maxSys);
				}
			} else {
				mfzch.updateTieFrameList(mfzch.game, team, $('#tie-frame-remove-list-long'));
			}
        }
    });

	$(document).on('click', '#tie-frame-remove-submit', function(){
		var teamid = $('#def-team-choice-index').val();
		var team = mfzch.game.teams[teamid];

		team.gFrames--;
		team.sSystems -= parseInt($('#tie-frame-remove-amount-short').val());

		mfzch.saveData('game');
		$('#tie-frame-remove').popup('close');
		mfzch.determineTieChoices(mfzch.game);
	});

	$(document).on('click', '#tie-frame-remove-list-long>li', function(){
		var teamid = $('#def-team-choice-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $(this).attr('data-frameid');

		var missingSSR = team.cFrames[frameid].ssr;

		team.cFrames.splice(frameid, 1);
		team.gFrames = team.cFrames.length;
		team.sSystems = team.totalSystems();

		if (missingSSR) {
			// add SSRs!
			$('#tie-frame-remove').on({
				popupafterclose: function() {
					setTimeout( function(){
						$('#tie-ssr-resolve').popup('open');
						$('#tie-frame-remove').off('popupafterclose');
					}, 100 );
				}
			});
			$('#tie-frame-remove').popup('close');
		} else {
			mfzch.saveData('game');
			$('#tie-frame-remove').popup('close');
			mfzch.determineTieChoices(mfzch.game);
		}
	});

	$('#tie-ssr-resolve').on({
        popupbeforeposition: function() {
			var teamid = $('#def-team-choice-index').val();
			var team = mfzch.game.teams[teamid];

			var lostSSR = 3 - team.totalSSRs();
			if (lostSSR == 1) {
				lostSSR += ' SSR which needs';
			} else {
				lostSSR += ' SSRs which need';
			}

			$('#tie-add-ssr-count').html(lostSSR);
			mfzch.updateTieFrameList(mfzch.game, team, $('#tie-ssr-add'));
		}
	});

	$(document).on('click', '#tie-ssr-add>li', function(){
		var teamid = $('#def-team-choice-index').val();
		var team = mfzch.game.teams[teamid];
		var frameid = $(this).attr('data-frameid');

		team.cFrames[frameid].addSystem('ssr');

		if (team.totalSSRs() < 3) {
			$('#tie-ssr-resolve').on({
				popupafterclose: function() {
					setTimeout( function(){
						$('#tie-ssr-resolve').popup('open');
						$('#tie-ssr-resolve').off('popupafterclose');
					}, 100 );
				}
			});
		} else {
			mfzch.saveData('game');
			mfzch.determineTieChoices(mfzch.game);
		}
		$('#tie-ssr-resolve').popup('close');
	});

	$(document).on('click', '#tie-defer', function(){
		mfzch.determineTieChoices(mfzch.game);
	});

	$(document).on('click', '#tie-change-parameters', function(event){
		mfzch.game.status = 0;
		mfzch.saveData('game');
		$( ":mobile-pagecontainer" ).pagecontainer( "change", "#game-setup", { changeHash: false } );
	});
});

$(document).on("pagecontainerbeforeshow", function(event, ui){
	if (ui.toPage[0].id == 'setup-tie') {
		mfzch.outputSetupParameters(mfzch.game);

		var numTied = mfzch.game.tiedForDefense();

		$('#def-team-choice-index').val(0);

		mfzch.updateTieChoices(mfzch.game, 0, numTied);

		if (mfzch.game.trackingLevel < 20) {
			$('#setup-tie .short').show();
			$('#setup-tie .long').hide();
		} else {
			$('#setup-tie .short').hide();
			$('#setup-tie .long').show();
		}

		/*
		try {
			ga('send', 'event', 'Game', 'Setup', 'Defensive Tie', 0, false);
		} catch (err) {}
		*/
	}
});

/* ------ status 3: deployment ------ */

$(document).on('pagecreate', '#setup-tie', function(event){
	$(document).on('click', '#game-deployment-back', function(){
		mfzch.game.status = 0;
		mfzch.saveData('game');

		$( ":mobile-pagecontainer" ).pagecontainer( "change", "#company-entry", { changeHash: false } );
	});

	$(document).on('click', '.play-combat-phase', function(){
		mfzch.game.status = 4;
		mfzch.saveData('game');

		$( ":mobile-pagecontainer" ).pagecontainer( "change", "#active-game", { changeHash: false } );
	});
});

$(document).on("pagecontainerbeforeshow", function(event, ui){
	if (ui.toPage[0].id == 'game-deployment') {
		$('#deploy-allteams').empty();
		for (var i in mfzch.game.teams) {
			if (parseInt(i) == 0) {
				$('#deploy-allteams').append('<li>Defense: <strong>' + mfzch.frameNameScore(i) + '</strong></li>')
			} else if (parseInt(i) == mfzch.game.teams.length-1) {
				$('#deploy-allteams').append('<li>Point Offense: <strong>' + mfzch.frameNameScore(i) + '</strong></li>')
			} else {
				$('#deploy-allteams').append('<li>Offense: <strong>' + mfzch.frameNameScore(i) + '</strong></li>')
			}
		}

		if(mfzch.game.teams.length > 3) {
			$('.deploy-attackers').empty();
			for (var i in mfzch.game.teams) {
				if (parseInt(i)) {
					$('.deploy-attackers').append('<li><strong>' + mfzch.frameName(i) + '</strong></li>')
				}
			}
			$('.multiple-offense').show();
		} else {
			$('.multiple-offense').hide();
		}

		$('.deploy-defender').html(mfzch.frameName(0));
		$('.deploy-point').html(mfzch.frameName(mfzch.game.teams.length-1));
	}
});