{% if app.request.requestUri == '/' %}

<ul data-role="listview" data-inset="true" class="nav-listview">
	<li><a href="/#game-tracking" id="battle-link">Battle Tracking</a></li>
	<li><a href="/#dice-roller">Frame Simulator</a></li>
	<li><a href="/#rules-reference">Rules of Engagement</a></li>

	{% if is_granted('IS_AUTHENTICATED_FULLY')
		and "now"|date('Y-m-d') < app.user.elite_expires|date('Y-m-d') %}
		<li><a href="/#tactics-and-strategy">Tactics and Strategy</a></li>
	{% endif %}

	<li><a href="/#loadouts">Frame Loadouts</a></li>
	<li><a href="/#company-analysis">Company Structure</a></li>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<li><a href="/command-network" data-ajax="false">Commander's Network</a></li>
	{% endif %}
</ul>

{% else %}

<ul data-role="listview" data-inset="true" class="nav-listview">
	<li><a href="/#game-tracking" id="battle-link" data-ajax="false">Battle Tracking</a></li>
	<li><a href="/#dice-roller" data-ajax="false">Frame Simulator</a></li>
	{# <li><a href="/#rules-reference" data-ajax="false">Rules of Engagement</a></li> #}

	{% if is_granted('IS_AUTHENTICATED_FULLY')
		and "now"|date('Y-m-d') < app.user.elite_expires|date('Y-m-d') %}
		<li><a href="/#tactics-and-strategy" data-ajax="false">Tactics and Strategy</a></li>
	{% endif %}

	<li><a href="/#loadouts" data-ajax="false">Frame Loadouts</a></li>
	<li><a href="/#company-analysis" data-ajax="false">Company Structure</a></li>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<li><a href="/command-network" data-ajax="false">Commander's Network</a></li>
	{% endif %}
</ul>

{% endif %}

