<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

AddType text/cache-manifest .manifest

<Files cache.manifest>
#   ExpiresActive On
#   ExpiresDefault "access"
#   FileETag None
#   Header unset ETag
#   Header set Cache-Control "no-cache, private"
</Files>