<div data-role="page" id="rules-reference">
 	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Rules of Engagement</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>
 	<div role="main" class="ui-content">
		<h2>Quick Reference</h2>
 		<ul data-role="listview" data-inset="true">
			<li><a href="#ref_quick_hit-chart">Hit Chart</a></li>
			<li><a href="#ref_quick_deployment">Deployment overview</a></li>
			<li><a href="#ref_quick_turn-order">Turn Order</a></li>
			<li><a href="#ref_frame_turn-sequence">Turn Sequence</a></li>
			<li><a href="#ref_prep_frame-systems">Frame systems</a></li>
			<li><a href="#ref_play_capture-stations">Capturing &#38; Contested stations</a></li>
			<li><a href="#ref_quick_example-attack">Example attack</a></li>
		</ul>
		<h2>Full Rules</h2>
		<div data-role="collapsible-set" data-expanded-icon="carat-d" data-collapsed-icon="carat-r">
			<div data-role="collapsible">
				<h3>What is MFZ: RA?</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_what-is_overview">Overview</a></li>
					<li><a href="#ref_what-is_frames">Mobile Frames</a></li>
					<li><a href="#ref_what-is_why-lego">Why LEGO</a></li>
					<li><a href="#ref_what-is_scale">Scale and size restrictions</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Preparations</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_prep_overview">Overview</a></li>
					<li><a href="#ref_prep_ruler">Ruler and units</a></li>
					<li><a href="#ref_prep_dice">The dice of MFZ</a></li>
					<li><a href="#ref_prep_game-size">Player count and game size</a></li>
					<li><a href="#ref_prep_frame-actions">Frame dicepool &#38; actions</a></li>
					<li><a href="#ref_prep_frame-systems">Frame systems</a></li>
					<li><a href="#ref_prep_ranges">Weapon ranges</a></li>
					<li><a href="#ref_prep_terrain">Terrain: cover &amp; stations</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Gameplay</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_play_overview">Overview</a></li>
					<li><a href="#ref_play_bidding">Bidding Phase</a></li>
					<li><a href="#ref_play_ppa">Assets &#38; points per asset</a></li>
					<li><a href="#ref_play_tactical-position">Tactical position</a></li>
					<li><a href="#ref_play_deployment">Deployment Phase</a></li>
					<li><a href="#ref_play_combat">Combat Phase</a></li>
					<li><a href="#ref_play_tactical-order">Tactical order</a></li>
					<li><a href="#ref_play_combat-order">Combat order</a></li>
					<li><a href="#ref_play_capture-stations">Capturing &#38; Contested stations</a></li>
					<li><a href="#ref_play_doomsday">Doomsday Clock</a></li>
					<li><a href="#ref_play_judgment">Principle of judgment calls</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>A Frame&#8217;s Turn</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_frame_turn-sequence">Turn Sequence</a></li>
					<li><a href="#ref_frame_target">Target designation</a></li>
					<li><a href="#ref_frame_roll-dice">Roll dicepool</a></li>
					<li><a href="#ref_frame_defense">Assign defense</a></li>
					<li><a href="#ref_frame_move-or-attack">Move or attack</a></li>
					<li><a href="#ref_frame_moving">Moving</a></li>
					<li><a href="#ref_frame_attacking">Attacking</a></li>
					<li><a href="#ref_frame_spotting">Spotting</a></li>
					<li><a href="#ref_frame_resolve-attacks">Resolve attacks</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Alternative rules</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_optional_split-range">Split-range weapons</a></li>
					<li><a href="#ref_optional_elevation">Climbing, elevation &#38; falling</a></li>
					<li><a href="#ref_optional_hazardous">Hazardous terrain &#38; protection</a></li>
					<li><a href="#ref_optional_per-frame-initiative">Per-frame initiative</a></li>
					<li><a href="#ref_optional_drop-white">Dropping whites for damage</a></li>
					<li><a href="#ref_optional_jettison">Jettisoning systems</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Other Information</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_other_demo">Demo games</a></li>
					<li><a href="#ref_other_credits">Credits/Disclaimer</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div data-role="page" id="ref_what-is_overview">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Overview</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Mobile Frame Zero: Rapid Attack is a tabletop wargame designed to be played with LEGO robots, with rules that are accessible to a broad spectrum of ages and provide casual fun as well as highpitched, intense battles. With a unique setting that allows for myriads of builds when it comes to Mobile Frames and their companies, MFZ is for the builder, the wargamer and everyone in between. The game was released summer of 2012, but is based on the 2002 game &#8220;Mechaton&#8221;, which was just the crunch of the rules you see here. MFZ has been revised by Joshua A.C. Newman, with the help of Mechaton&#8217;s inventor, Vincent Baker and his son Sebastian Baker. Joshua also got Soren Roberts on board, a LEGO designer and freelance graphics artist who has some repute on Flickr for his microscale spaceships, anime-inspired mecha and other LEGO creations.</p>
		<p>MFZ was made to bring affordable wargaming to the kitchen table, without relying on prebuilt models, allowing for as intricate or simple models as a player likes. With that, MFZ is abstracted quite far, simplifying many elements which are much more elaborate in other wargames. MFZ is also heavily favouring action over inaction. With emphasis on attacking, a timer to keep things fast paced, and an intentional shortage of resources, every decision is meant to be tough. High risk elements combined with strategic sacrifices is what makes MFZ an entertaining game.</p>
		<h2>How the designer describes it:</h2>
		<p>Mobile Frame Zero: Rapid Attack is the tenth anniversary edition of Vincent Baker&#8217;s Mechaton. Build yourself a company of robots called mobile frames out of LEGO, give yourself some objectives to defend, lay out a table with a few friends, and fight! Because, just like a LEGO set, building what&#8217;s on the front of the box is fun, but building your own thing is where it really catches fire. So that&#8217;s what we want you to do! Build robots, play with our setting, sure! If you&#8217;re into VOTOMS, Dougram, Macross, or Gasaraki, then we want to play with you!</p>
	</div>
</div>
<div data-role="page" id="ref_what-is_frames">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Mobile Frames</h1>
	</div>
	<div role="main" class="ui-content">
		<p>In the Solar Calendar, the timeline and universe of MFZ, humanity has surpassed the boundaries of Earth and is traveling deep into space using Transit Gates to cover the distance. The majority of the manual labor is conducted by Mobile Frames, large machines somewhere between exoskeleton and full-blown mecha. They are three to four times as tall as humans and develop six times their lift and carrying capabilities, while retaining human mobility and most of the agility. These mobile frames were sooner, rather than later, integrated into military purposes, and are used as the one-stop solution to anything that requires force on the ground. While the military and paramilitary organizations of the Solar Calendar use combat-specific builds, many rebels or less fortunate mercenaries use repurposed labor frames just the same. This reference will use the term &#8220;frame&#8221; when referring to Mobile Frames, combat-oriented or otherwise.</p>
	</div>
</div>
<div data-role="page" id="ref_what-is_why-lego">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Why LEGO?</h1>
	</div>
	<div role="main" class="ui-content">
		<p>LEGO has multiple advantages for wargames. For example, many people already have LEGO at home that they can use to build mobile frames for MFZ:RA. Additionally, once a frame is built, there is no need to paint it up, reducing the prep time until one can actually play. This is also true if a player wants to try out different compositions&#8212;all it takes is a few different bricks. Since there is also a large international community that builds LEGO robots, there is no shortage of inspiration for new and starting builders.</p>
	</div>
</div>
<div data-role="page" id="ref_what-is_scale">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Scale and size restrictions</h1>
	</div>
	<div role="main" class="ui-content">
		<p>MFZ uses what is called the 7p scale. Essentially, an average human is 7 plates of LEGO tall. That means that anything else modeled should reflect this, so when two forces meet, they look roughly at the same dimensions. 7 plates is two bricks and a plate on top.</p>
		<p>Frames should generally fit inside a box that is 10 studs wide, 10 studs deep and 12 bricks tall. There is some wiggle room for quadrupeds, but it should generally be observed as the maximum. Size creep can quickly become an issue. Since there is a definitive size for humans, this also requires some space where the human can fit inside a frame&#8212;generally, the torso. Otherwise, MFZ has no restrictions on what a frame should look like, what colors or parts to be used, and if you don&#8217;t want to use LEGO, a Gundam model with removable systems is fine, too.</p>
		<p>Using an alternate scale is possible, but you will need to make adjustments. Each player must know what scale will be used before building their frames. The ruler and distance units will need to be adjusted accordingly. The size of the play area needs adjusted accordingly. Building cover needs to be done with the new scale in mind, and you may need to adjust the number of bricks removed each time it is damaged.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_overview">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Preparations: Overview</h1>
	</div>
	<div role="main" class="ui-content">
		<p>To play MFZ, you will need to prepare a few things before you can dive into the fight. Since building is a huge part of the MFZ experience, take your time when building your army. As long as they fit within the scale, anything you can come up with is considered legal. It is necessary to have the individual systems of your frames visible.</p>
		<p>You will need:</p>
		<ul>
			<li>One company of mobile frames per player</li>
			<li>Some terrain pieces, for cover and stations</li>
			<li>One ruler as described in the next section, typically eight units long</li>
			<li>A dice assortment</li>
			<li>A way to track the doomsday clock in 11 steps</li>
		</ul>

		<div class="ref-note"><p>Note: This app contains a die simulator and value tracking system which can be used in place of physical dice. However, using real dice is encouraged. It can also be used to track the doomsday clock.</p></div>
	</div>
</div>
<div data-role="page" id="ref_prep_ruler">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Ruler and units</h1>
	</div>
	<div role="main" class="ui-content">
		<p>By default, you will play with a ruler that is eight units long, and one unit is 5 studs in length, or a 1&#215;4 click hinge brick. Combining eight hinge bricks gives you a ruler that can measure around corners, which is especially useful to plot paths around cover and obstacles. The game area should measure between 4 and 6 ruler lengths diagonally and circular; or square. With hinge bricks, 4 lengths is the equivalent to about 50"/128cm. 6 lengths is the equivalent to about 75"/192cm. As a general rule when measuring between two targets, measure between the closest points of them. Barrel to body part, blade to arm, back to cover, etc.</p>
		<h2>Smaller &#38; larger fields</h2>
		<p>If your playing field is bigger or smaller, adjust accordingly. With a bigger table than 6 ruler lengths, expand the ruler units to match the table size, or tape off the edges of corners of your gaming area to stay within 4 to 6 lengths. If your area is smaller than 4 rulers, reduce the ruler to 6 units length. Weapon ranges behave accordingly.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_dice">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>The dice of MFZ</h1>
	</div>
	<div role="main" class="ui-content">
		<table class="ref-table">
			<thead>
				<tr>
					<th>Dice</th>
					<th>Usage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>White d6</td>
					<td>Wild</td>
				</tr>
				<tr>
					<td>Red d6 &#38; d8</td>
					<td>Attack</td>
				</tr>
				<tr>
					<td>Yellow d6</td>
					<td>Spotting</td>
				</tr>
				<tr>
					<td>Green d6 &#38; d8</td>
					<td>Movement</td>
				</tr>
				<tr>
					<td>Blue d6</td>
					<td>Defense</td>
				</tr>
			</tbody>
		</table>

		<p>You will need a handful dice to make sure everyone can play out their turn. To be absolutely sure you have enough, you will need the entire list below. You can often play with less, but you may need to substitute colors or mark things down.</p>
		<ul>
			<li>4&#215; white d6</li>
			<li>1&#215; blue d6 per frame (max 25), plus 1</li>
			<li>1&#215; yellow d6 per frame (max 25)</li>
			<li>4&#215; green d6</li>
			<li>2&#215; green d8</li>
			<li>4&#215; red d6 (8 with split systems)</li>
			<li>8&#215; red d8</li>
			<li>14&#215; d6 of any color</li>
		</ul>

		<div class="ref-note"><p>Note: This app contains a die simulator and value tracking system which can be used in place of physical dice. However, using real dice is encouraged.</p></div>
	</div>
</div>
<div data-role="page" id="ref_prep_game-size">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Player count and game size</h1>
	</div>
	<div role="main" class="ui-content">
		<p>MFZ has two game sizes&#8212;Skirmish and Battle. Skirmishes go faster but are usually more fierce, whereas battles can go for a long time. Battles are where the battlefield carnage is usually the greatest. Decide with your players what kind of game you want to play and consult the tables for the company sizes and stations to bring.</p>
		<h2>Skirmish</h2>
		<table class="ref-table">
			<thead>
				<tr>
					<th>Players</th>
					<th>Stations (ea.)</th>
					<th>Frames for Skirmish (ea.)</th>
					<th>Frames for Battle (ea.)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2</td>
					<td>3</td>
					<td>4&#8211;6</td>
					<td>5&#8211;8</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2</td>
					<td>3&#8211;5</td>
					<td>4&#8211;7</td>
				</tr>
				<tr>
					<td>4</td>
					<td>2</td>
					<td>3&#8211;4</td>
					<td>4&#8211;6</td>
				</tr>
				<tr>
					<td>5</td>
					<td>1</td>
					<td>3&#8211;4</td>
					<td>3&#8211;5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div data-role="page" id="ref_prep_frame-actions">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Frame dicepool &#38; actions</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Each frame has a dicepool for its actions, starting with 2 white dice representing the basic machine and the pilot&#8217;s senses. You can expand this dicepool with up to 4 systems. No more than 2 systems of any given type can be equipped, but otherwise loadouts are unrestricted. A mobile frame always has several baseline capabilities which are expanded with systems. These capabilities are:</p>
		<ul>
			<li>Defend itself</li>
			<li>Move (navigating around cover)</li>
			<li>Spot a target which is out of cover and within direct-fire or hand-to-hand range</li>
			<li>Attack at hand-to-hand range</li>
		</ul>
		<p>Since dice must be assigned to an action to perform it, a frame with no additional systems must choose which actions to perform. Systems are restricted to specific uses, but provide strength in those areas while also adding additional capabilities to the frame.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_frame-systems">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Frame systems</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>There are 6 types of systems. A frame may not equip more than 2 per type. These systems expand the dicepool a frame has, but only for the specific role they have. A frame can have any amount from 0 to up to 4 systems in its loadout.</p>
		<h2>Gear systems:</h2>

		<h3>Defense</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1 blue d6</td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 blue d6</td>
					<td>When providing cover to another frame, this frame does not take damage</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: thck armor, shield, camouflage, ECM, stealth composite coating, reactive armor</p>

		<h3>Movement</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1 green d6</td>
					<td>May move through or stand atop cover</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 green d6</td>
					<td>May move through or stand atop cover</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: jump-jets, wings, wheels, quad-legs, skates, stronger engine, claw feet</p>

		<h3>Spotting</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1 yellow d6</td>
					<td>May spot any target within one ruler range (including those in cover)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 yellow d6</td>
					<td>May spot any target on the field</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: radio, laser range finder, rifle scope, sensors, frequency interceptor, spotlights</p>

		<h3>Hand-to-hand weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at hand-to-hand range (1 unit)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at hand-to-hand range (1 unit)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: Shock baton, combat knife, repurposed jackhammer, fusion edge</p>

		<h3>Direct-fire weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at direct-fire range (between 1 unit and 1 ruler)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at direct-fire range (between 1 unit and 1 ruler)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: Assault rifle, grenade launcher, flamethrower, beam weapon</p>

		<h3>Artillery weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at artillery range (beyond 1 ruler)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at artillery range (beyond 1 ruler)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: Mortar, sniper rifle, railgun, long-range missiles</p>

		<div class="ref-hint"><p>Hint: You may use less than four systems per frame when putting your company together. Using less systems than your opponent allows you to determine your field position earlier and gives you an advantage in scoring.</p></div>

		<h2>Non-system additions</h2>

 		<h3>Single Shot Rockets</h3>
		<p>Every Company starts with 3 SSRs, which can be put in any configuration on any frame, as long as the total of 3 is present.</p>

		<table class="ref-table">
			<thead>
				<tr>
					<th>Dice</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 red d8</td>
					<td>Usable only at direct-fire range (between 1 unit and 1 ruler)<br />
					Single-shot; discard after use</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: Hand grenade, rocket pod, under-barrel grenade launcher</p>

		<p>A single frame can carry all three of these, if you so choose. Since SSRs do not count as systems they cannot be destroyed when taking damage. However, any SSRs left on a frame when it is destroyed become unusable.</p>

		<h3>Sprinting</h3>
		<p>If a frame has neither direct-fire or artillery weapon systems installed, it receives a bonus d8 for its movement, which allows it to traverse cover, too. Sprinting can be considered a benefit of carrying no ammunition. Since Sprinting is not a system, it cannot be destroyed when taking damage. If a frame which has ranged weaponry loses those due to damage, it automatically gains this bonus.</p>

		<div class="ref-hint"><p>Hint: A soldier-configured frame carries 1 defensive system, 1 movement system, 1 spotting system, and 1 direct fire weapon system. Every other mobile frame is a specialist of some sort. When you&#8217;re creating your frames, an easy way to start is to make a soldier configuration and then swap systems in and out to specialize as needed.</p></div>
 	</div>
</div>
<div data-role="page" id="ref_prep_ranges">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Weapon ranges</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Weapon ranges in MFZ are exclusive to one another and not &#8220;downwards-compatible.&#8221; </p>
		<h2>Range increments:</h2>
		<ul>
			<li>Hand-to-hand: up to 1 unit</li>
			<li>Direct-fire: above 1 unit, up to 1 ruler length</li>
			<li>Artillery: beyond 1 ruler length</li>
		</ul>
		<p>This means that direct-fire cannot be used at hand-to-hand range, just as artillery cannot be used at either hand-to-hand or direct-fire range. Each weapon system only works within its increment. If you are unsure about the ranges between things, you can measure at any time during the game, even out of turn.</p>
		<div class="ref-reminder"><p>Reminder: When you measure, measure from the closest points between target and attacker. When in doubt, the target is in range.</p></div>
 	</div>
</div>
<div data-role="page" id="ref_prep_terrain">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Terrain: cover &amp; stations</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>To play MFZ, build several pieces of terrain. Terrain is split into stations, cover, and other terrain.</p>
		<h2>Stations</h2>
		<p>These objects have distinct properties:</p>
		<ul>
		<li>Must be distinct from cover and other terrain</li>
		<li>Must have a location to put a flag or marker</li>
		<li>Maximum base size is 4 &#215; 4 studs</li>
		</ul>
		<p>For your stations, you can build anything that&#8217;s stationary and valuable to defend or seize. The door panel on a drop ship, a cache of medical supplies, a civilian scientist and family, a research facility&#8217;s data storage drives, a truck with a flat tire and a load of fresh peaches. Otherwise, there are no restrictions for stations.</p>
		<div class="ref-hint"><p>Hint: If you want to use something with a larger base, discuss this with your group. Place it on the field like cover and other terrain during the setup phase and designate a 4&#215;4 stud area that can be used as a station: a doorway for a building or a control terminal, perhaps. The rest of the piece is regular terrain or cover. Keep in mind that cover can be targeted and destroyed, while stations cannot.</p>
		<p>During deployment, any player may claim this as a station instead of placing one when they have opportunity to do so. If no player claims it, use it as normal terrain or cover.</p></div>

		<h2>Cover</h2>
		<p>Any structure on the battlefield is cover if it&#8217;s 3 bricks or more high, except stations. Frames that have not been destroyed may count as cover, too. Even hostile ones!</p>
		<p>A frame counts as being in cover, if:</p>
		<ul>
			<li>It is within 1 unit range of the cover</li>
			<li>The cover is between target and attacker</li>
		</ul>
		<p>Ignore terrain pieces further away than 1 unit of the target, even if they are between the target and attacker.</p>

		<div class="ref-hint"><p>Hint: Because cover is damaged by removing a certain number of pieces, the number of pieces you use (at or above 3 bricks high) determine that cover&#8217;s durability. Cover made from many small pieces will provide protection longer than cover made from a few large pieces.</p></div>

		<div class="ref-note"><h2>Suggested house-rule:</h2>
		<p>Instead of entire terrain pieces, count only actual bricks for the purpose of cover.</p></div>

		<h2>Other terrain</h2>
		<p>Terrain that is not a station and less than 3 bricks in height is no longer relevant. It is not cover and does not require frames to navigate around.</p>
		<p>If you are playing with the additional rules for hazardous terrain, you might designate some for that purpose such as irradiated ground, swamps or perilous plants. Optionally, you can build difficult terrain which does not provide cover, but still requires a movement system to traverse.</p>
	</div>
</div>
<div data-role="page" id="ref_play_overview">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Gameplay: Overview</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>A game of MFZ is separated into three phases: bidding, deployment and combat. These phases flow into each other, with the prior phases influencing the following. A good tactical approach begins before the first shot is fired. Your score in the bidding phase gives you a certain tactical position. You deploy your forces based on your position and tactical goals. The combat phase begins and takes shape from your deployment.</p>
	</div>
</div>
<div data-role="page" id="ref_play_bidding">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Bidding Phase</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>At the beginning of a game, compare all present companies against one another. In general, the player with the smallest, weakest company gets the points advantage and starts the battle on the defensive. The player with the largest, most powerful company gets a points penalty and starts the battle on the offensive.</p>
		<div class="ref-hint"><p>Hint: You&#8217;ll have to guess your opponents forces while you&#8217;re designing your company to get the position you hope for. The pregame  bidding is already part of the tactical calculations!</p></div>
		<p>The most advantageous companies are:</p>
		<ul>
		<li>Slightly smaller and weaker, so that you gain the point advantage for little tactical cost</li>
		<li>Significantly larger and stronger, so that the point disadvantage can be overcome by force</li>
		</ul>
	</div>
</div>
<div data-role="page" id="ref_play_ppa">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Assets &amp; points per asset</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>All frames and stations under your control are assets. Each asset has a point value determined by the relative size and strength of the company you sent into the field.</p>
		<p>Points per asset, PPA, is determined by how a company compares to the others at the beginning of the game. To determine PPA, every company starts with a PPA of 5. From here, apply the following modifiers:</p>
		<table class="ref-table">
			<thead>
				<tr>
					<th>Company has&#8230;</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>most frames</td>
					<td>-1 PPA</td>
				</tr>
				<tr>
					<td>most systems</td>
					<td>-1 PPA</td>
				</tr>
				<tr>
					<td>least frames</td>
					<td>+1 PPA</td>
				</tr>
				<tr>
					<td>least systems</td>
					<td>+1 PPA</td>
				</tr>
			</tbody>
		</table>
		<p>All players which meet the criteria adjust their scores.</p>
		<p>You calculate points per asset once at the beginning of the game. Your PPA does not change as the game progresses. Yet, as you play, you&#8217;ll lose mobile frames, and stations will change hands. This changes how many assets you hold, not your points per asset.</p>

		<div class="ref-calc"><p>Score = Assets &#215; PPA</p></div>

		<p>Your score determines your tactical position at the beginning of the game, and your initiative (the order in which players activate frames) throughout the game.</p>

		<div class="ref-note"><p>This app will automatically calculate PPA when Asset Tracking is used.</p></div>

		<h3>Ties for defense</h3>
		<p>When you compare your companies during setup, you might tie for the highest score. When this happens, randomly determine a winner. The winner must decide to:</p>
		<ul>
			<li>add a frame to their company (if possible&#8212;you may not go above the maximum)</li>
			<li>remove a mobile frame from their company (again, if possible)</li>
			<li>force the loser to choose instead</li>
		</ul>

		<p>Compare companies again. That means, recalculate points per asset, recalculate starting scores and then proceed.</p>

		<div class="ref-note"><p>Asset Tracking will randomly choose the winner, but you will still need to manually adjust your companies based on your choices.</p></div>

		<h3>Ties for offense</h3>
		<p>If you tie for the lowest starting score, randomly determine a loser. The loser has to&#8230;</p>
		<ul>
			<li>place the point mobile frame</li>
			<li>go last in tactical order, until score changes</li>
		</ul>

		<p>If you plan to bid lower than the maximum number of frames, be sure to bring a spare mobile frame to the game with you in case of a tie.</p>

		<div class="ref-note"><p>Asset Tracking will automatically resolve ties for offense and determine initiative.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_tactical-position">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Tactical position</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>There are three tactical positions a player can be assigned at the begiining of a game: Defender, Point Attacker and Secondary Attacker. The score determines which position a player holds:</p>

		<table class="ref-table">
			<thead>
				<tr>
					<th>Player has&#8230;</th>
					<th>Tactical Position</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&#8230; highest score</td>
					<td>Defender</td>
				</tr>
				<tr>
					<td>&#8230; lowest score</td>
					<td>Point Attacker</td>
				</tr>
				<tr>
					<td>&#8230; neither</td>
					<td>Secondary Attacker</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div data-role="page" id="ref_play_deployment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Deployment Phase</h1>
	</div>
 	<div role="main" class="ui-content">
		<div class="ref-note"><p>Note: This app contains a deployment guide which is presented when the Asset Tracking section is utilized.</p></div>

		<p>Put your cover and terrain pieces on the playing field, except for stations. Any player can adjust the battlefield layout until everyone is satisfied. This may require compromises. When every player approves the layout of the battlefield, deployment of stations and frames begins.</p>
		<h2>Defense setup</h2>
		<p>The player with the highest starting score places all of their stations. The defender places all stations wherever they like, within 1 ruler length of at least one other station. Everything within 8 units range around these stations is the defensive perimeter. Place two frames  within this defensive perimeter.</p>
		<p>If you manage to position your stations in a way that prohibits legal placement of the attackers, then move your stations so they leave at least one third of the battlefield outside the defensive perimeter.</p>

		<h2>Point Mobile Frame</h2>
		<p>The Point attacker goes next, placing the point mobile frame:</p>
		<ul>
			<li>Out of cover</li>
			<li>Outside the defensive player&#8217;s perimeter</li>
			<li>At 1 ruler length distance of one of the Defender&#8217;s frames, in range for (but at the limit of) direct-fire</li>
		</ul>

		<h2>Attackers&#8217; frames</h2>
		<p>After this, all offensive players alternate, descending by score, frame for frame, until all frames are on the field.</p>
		<p>Frames are placed:</p>
		<ul>
			<li>Outside the defensive perimeter</li>
			<li>Outside direct fire range of any of the Defender&#8217;s frames</li>
			<li>Otherwise, unrestricted</li>
		</ul>

		<h2>Attackers&#8217; stations</h2>
		<p>Once all attacking frames are on the field, attackers alternate again, placing stations. On each of their turn, they place one station, wherever they like.</p>

		<h2>Defender&#8217;s other frames.</h2>
		<p>The defender finishes placing all remaining frames. There are no restrictions, except frames placed outside the perimeter must be in cover.</p>

		<div class="ref-hint"><p>Hint: It is legal for frames and stations to be deployed in places where stations immediately change hands, as long as all other criteria are met. For example, the defender may choose to immediately capture any station placed close enough to cover for a legal deployment. An attacker may choose to place a station in a position that forces another payer to capture it. These bold moves may be legal, but are not necessarily good ideas.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_combat">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Combat Phase</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>The combat phase is broken up in tactical order and combat order. During the round, you will switch back and forth between tactical order and combat order. Keep a running score for each player, as frames are destroyed and stations seized.</p>
		<div class="ref-calc"><p>Score = number of assets &#215; PPA</p></div>
		<p>As scores change, so does tactical order. The round ends when the last frame has taken its turn. At the end of the round, pick up all marker dice and count down to doomsday.</p>
		<div class="ref-note"><p>The Asset Tracker portion of this app will calculate score and update tactical order automatically.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_tactical-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Tactical order</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>While in tactical order, the player with the highest score goes first.</p>
		<ul>
			<li>Choose one of your frames and take its turn</li>
			<li>If you don&#8217;t want to go, you can pass to the next player in tactical order (next highest score)</li>
			<li>If you are the last player with unactivated frames, you must take a turn</li>
			<li>Every frame has one turn per round</li>
		</ul>
		<p>If all your mobile frames have already taken their turns this round, you have to pass to the next player in tactical order. When a mobile frame takes its turn, resolve it. If a frame attacks another frame that has not taken its turn yet, switch to combat order.</p>
		<p>Return to tactical order as needed, beginning again with the player with the highest score, until all frames have taken a turn. If you lose all of your frames, you automatically pass or end the round. You can still count down the doomsday clock.</p>

		<div class="ref-note"><p>Even if you lose all of your frames, your stations still count toward your score unless they are captured. While extremely difficult, it is technically possible to win the game with no frames remaining.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_combat-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Combat order</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>When a frame attacks a frame that has not already activated, combat order is used. In combat order, the attacking &amp; defending frames&#8217; turns entwine.</p>
		<ul>
			<li><em>Attacker</em> takes the first part of their turn</li>
			<li>When <em>Attacker</em> attacks, their turn pauses</li>
			<li><em>Target</em> frame becomes active</li>
			<li><em>Target</em> names a new target, rolls dicepool, and assigns a defense value</li>
			<li><em>Attacker</em> resolves any hits</li>
			<li><em>Target</em> removes any damage taken</li>
			<li><em>Attacker</em> finishes turn</li>
			<li><em>Target</em> finishes their turn, including movement and own attacks</li>
		</ul>
		<p>This counts as both frame&#8217;s turns for this round. The <em>target</em> may make an attack during their turn. At this point, they become the <em>attacker</em> and the newly attacked frame becomes the <em>target</em>. In this way, combat order continues until all combat is resolved.</p>
		<p>Once all combat is resolved, return to tactical order to continue the round.</p>
		<p>If a target is activated during combat order and destroyed it does not get to move or attack. If it is not destroyed, though, it still gets to use any dice already rolled&#8212;regardless of what systems it may have just lost to damage.</p>
	</div>
</div>
<div data-role="page" id="ref_play_capture-stations">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Capturing &#38; contested stations</h1>
	</div>
 	<div role="main" class="ui-content">
		<h2>Capturing stations</h2>

		<p>At the beginning of a game, all stations are under control of their owners. Even without any guards nearby, they remain under their control,  until an opponent&#8217;s frame captures them.</p>

		<p>At any time and for any reason:</p>
		<ul>
			<li>You gain control of a station when you have a frame within 1 unit of the station <strong>and</strong> no other players have a frame within 1 unit of that station.</li>
			<li>You lose control of a station when any other player has a frame within 1 unit of the station	<strong>and</strong> you do not have a frame within 1 unit of the station.</li>
		</ul>

		<p>Otherwise, stations do not change hands&#8212;even if a player&#8217;s frames are destroyed.</p>

		<p>Recalculate scores immediately when a station is gained or lost.</p>
		<div class="ref-hint"><p>Hint: Stations can change hands multiple times in a round.</p></div>

		<h2>Contested stations</h2>

		<p>In a game with three or more players, it&#8217;s possible for a station to be lost without also being captured. All three conditions need to be met:</p>
		<ol>
			<li>A station&#8217;s owner has a frame within 1 unit of it</li>
			<li>Two or more hostile companies move a frame within the 1-unit capture range</li>
			<li>The station owner&#8217;s frame moves away or is destroyed</li>
		</ol>
		<p>When this happens, the hostiles cannot capture the station. While they are in range, the station is contested by the other hostile. The station is lost by the owner, but nobody can claim control of it until the standoff is resolved. Recalculate scores when it is lost, and the again when the standoff is resolved.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_turn-sequence">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>A Frame&#8217;s Turn</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>A frame is either activated by its controlling player or by coming under attack from another frame. Once activated, go through its turn in sequence.</p>
		<ul>
			<li>Designate a target</li>
			<li>Roll dicepool</li>
			<li>Assign defense</li>
			<li>Move and attack (in either order)</li>
			<li>Spot</li>
		</ul>
	</div>
</div>
<div data-role="page" id="ref_frame_target">
	<div data-role="header" data-add-back-btn="true">
		<h1>Target Designation</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Name a hostile frame as the target of your attack. You can name no target, if you prefer not to make an attack. Cover can also be targeted, instead of a frame. Stations and your own frames cannot be targeted.</p>
		<p>When you designate a target, you need to declare what range will be used for the attack. You can declare a target that is currently out of range. (You must move your frame within the declared range in order to continue making the attack. If you can&#8217;t move into range first, you forgo the attack.)</p>
	</div>
</div>
<div data-role="page" id="ref_frame_roll-dice">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Roll Dicepool</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Pick up the dicepool as per a frame&#8217;s loadout and roll them all at once. Assign dice to defense, movement, attack and spotting. You can only assign one die per action, and each die can be assigned only once.</p>
		<p>You can assign white dice to any action, as they are wild. You can look at your dicepool results before you choose where to assign white dice. Using whites is optional but will often be necessary especially as a frame takes damage.</p>
		<p>If you do not have enough dice to fulfill an action, this unassigned action counts as 0. Once all dice are assigned to actions, discard any leftover dice.</p>
		<div class="ref-hint"><p>Hint: This includes dice that cannot be assigned, such as a leftover red die, which cannot be assigned to Defense, even if Defense is unassigned. For example, you will always discard at least one red die when you use an attack system because having an attack system gives you two. However, if you assign a white die to your attack instead, you will discard all red dice.</p></div>

		<h2>Example</h2>
		<p>A frame with the loadout of
		<span class="sys-display"><span data-sys="w">W</span><span data-sys="w">W</span><span data-sys="rh">Rd</span><span data-sys="b">B</span><span data-sys="g">G</span></span> rolls:</p>
		<ul class="roll-display "><li data-die="w6" data-type="w">3</li><li data-die="w6" data-type="w">5</li><li data-die="r6" data-type="r">3</li><li data-die="r6" data-type="r">5</li><li data-die="b6" data-type="b">4</li><li data-die="g6" data-type="g">2</li></ul>

		<p>First, the player must assign defense. The player can choose either the blue <span data-die="b6" data-type="b">4</span> or one of the whites <span data-die="w6" data-type="w">3</span><span data-die="w6" data-type="w">5</span>. The player chooses the <span data-die="b6" data-type="b">4</span>. It is assigned to defense and placed on the table near the frame.</p>

		<p>Next, the player can choose to attack or move. The player chooses to move first, and must choose a die for its movement: the green <span data-die="g6" data-type="g">2</span> or one of the whites <span data-die="w6" data-type="w">3</span><span data-die="w6" data-type="w">5</span>. The player needs to move to get in range of its target, and chooses the <span data-die="w6" data-type="w">5</span>. It can now move up to 5 ruler units. The <span data-die="w6" data-type="w">5</span> has been assigned and cannot be used for additional actions. The green <span data-die="g6" data-type="g">2</span> can be discarded now because it is only usable for movement.</p>

		<p>The player now makes an attack and can choose red <span data-die="r6" data-type="r">3</span> or <span data-die="r6" data-type="r">5</span>, or white <span data-die="w6" data-type="w">3</span>. The player chooses <span data-die="r6" data-type="r">5</span>. The red <span data-die="r6" data-type="r">3</span> can be discarded.</p>

		<p>Finally, the player may choose a spot. The frame does not have a spot (yellow) system, so only the white <span data-die="w6" data-type="w">3</span> is available to be assigned. The player is not required to use it.</p>

		<p>The turn is over, and any remaining dice are now discarded.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_defense">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Assign defense</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Assign a blue die or a white die to your defense. If you don&#8217;t have any defensive systems, you didn&#8217;t roll any blue dice, so choose a white die or forgo your defense, making it 0 for this round. Place a blue die on the battlefield next to the frame, turned to your defense value. This is this mobile frame&#8217;s defense for the entire round; it won&#8217;t change until next round.</p>
		<p>If you rolled your frame&#8217;s dice because there is attack lined up against your frame, resolve the attack now. Wait for your attacker to finish its turn before you continue yours.</p>
		<div class="ref-hint"><p>Hint: Since a standard d6 does not have a face with a zero, you will not be able to place a die on the field if you assign a 0 defense. You will have to remember that this frame has a defense value already; it does not get to re-roll. You can place a different &#8220;0 defense&#8221; marker on the table if you have to.</p></div>
	</div>
</div>
<div data-role="page" id="ref_frame_move-or-attack">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Move or attack</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>You may choose whether to attack before you move or move before you attack. However, you must make your attack within your declared range. If you declare a range that you are not currently within, you must move into range first or forgo the attack.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_moving">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Moving</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>When you move: Assign a green die or a white die to your movement. If you didn&#8217;t roll any green dice, choose a white die or forgo movement, making it 0. Move a number of ruler units equal to or less than the result of your movement die. If you have any movement systems or the bonus d8 for carrying no ranged weapons, you can pass through cover as though it weren&#8217;t there; otherwise, you have to go around it. Any frame with a movement system can also stand atop of cover.</p>
		<p>Standing on frames is permitted. Frames do not &#8220;carry&#8221; other frames or prohibit them from moving; if the lower frame moves, place the upper frame where the lower frame was standing before.</p>
		<div class="ref-reminder"><p>Reminder: Any structure on the battlefield at least 3 bricks high counts as cover, including frames but excluding stations.</p></div>
	</div>
</div>
<div data-role="page" id="ref_frame_attacking">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Attacking</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>When making your attack, check whether the target you designated is within the range you declared. If not, you forgo the attack. Use your movement to get within range if you can. If it is in range, assign a red die or a white die to your attack. Recall that you may only attack at artillery range with an artillery system and at driect-fire range with either a direct-fire system or by using an SSR. At hand-to-hand range, you may attack without having a system equipped but must assign a white to do so. You can voluntarily abort your attack by choosing to assign no die to it. If you abort the attack, the target does not get activated. If your target is at 1 unit range, you do not need an attack system and can attack using whites.</p>
		<p>If it is within range, resolve your attack now against its standing defense. If the target has no defense die because none was assigned when it had a turn, count Defense as 0. If it doesn&#8217;t have a defense die because it has not been activated yet, switch to combat order. Put your turn on hold until your target has a defense value assigned, then resolve your attack and the rest of your turn.</p>
		<p>If you are attacking cover directly, count its defense as 0. Cover cannot be in cover itself.</p>
		<p>Once you&#8217;ve assigned an attack die and told it to your target, it is too late to abort.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_spotting">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Spotting</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Assign a yellow die or a white die to your spot. If don&#8217;t have any spotting systems, you may still spot by assigning a white die. Declare the target of your spot, based on your spotting systems. Place a yellow die next to your spotted target, turned to the value of your spot die. If the declared target is already spotted, you can only replace the die if yours would be higher. Otherwise, forgo your spotting. You cannot spot first and follow it up with your own attack. If you attack, you spot after it has resolved. You cannot spot cover or stations.</p>
		<div class="ref-reminder"><p>Reminder: Without spotting systems, the target must be within direct fire or hand to hand range and out of cover. With one system, the target must be within direct fire or hand-to-hand range and may also be in cover. With two systems, any frame may be spotted.</p></div>
	</div>
</div>
<div data-role="page" id="ref_frame_resolve-attacks">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Resolving Attacks</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>If there is a spot on the target, you may choose to add its value directly to your attack value. If you do so, remove that spot die from the field. It doesn&#8217;t matter who placed the spot; you can use anybody&#8217;s spot, and anybody can use yours.</p>
		<div class="ref-hint"><p>Hint: While this may seem odd, there is rarely any effective downside to sharing spots. An opponent using your spot helps your cause by attacking another opponent for you!</p></div>
		<p>Calculate your damage dice.</p>
		<div class="ref-calc"><p>Damage Dice = Spot + Attack - Defense</p></div>
		<h2>Resolving Damage Dice</h2>
		<p>Calculate the number of damage dice using the formula. Roll this many six-sided dice, and check the table to see how damage is applied.</p>
 		<table class="ref-table">
			<thead>
				<tr>
					<th>Range</th>
					<th>Target</th>
					<th>Damages on&#8230;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hand-to-hand</td>
					<td>Frame</td>
					<td>4, 5 &amp; 6</td>
				</tr>
				<tr>
					<td>Direct-fire or artillery</td>
					<td>Frame in cover</td>
					<td>4, 5 damages cover<br>
						6 damages target</td>
				</tr>
				<tr>
					<td>Direct-fire or artillery</td>
					<td>Frame not in cover</td>
					<td>5 &amp; 6</td>
				</tr>
				<tr>
					<td>Direct-fire or artillery</td>
					<td>Frame covered by frame</td>
					<td>5 damages covering frame<br>
						6 damages target</td>
				</tr>
				<tr>
					<td>Any</td>
					<td>Cover</td>
					<td>4, 5 &amp; 6</td>
				</tr>
			</tbody>
		</table>
		<p>Apply damage to the cover first, 4s before 5s. If the cover is destroyed mid-process, treat the target as out of cover. Any remaining 5s blow through and damage the targeted frame. 6s always damage the target.</p>
		<p>Apply damage to a covering frame first. If the covering frame is destroyed mid-process, treat the target as out of cover. Any remaining 5s after the cover frame&#8217;s destruction damage the targeted frame.</p>
		<div class="ref-reminder"><p>Reminder: If the covering mobile frame has two defensive systems it is not damaged by stray shots. A second defensive system allows a frame to provide cover without risking damage!</p></div>
		<p>When targeting cover, every hit removes 6 bricks, attacker&#8217;s choice. Cover cannot be spotted.</p>
		<div class="ref-hint"><p>Hint: You can destroy cover more effectively effectively raze your enemy&#8217;s cover by leaving them with less than 3 brick tall ruins!</p></div>

		<h2>Resolving Damage</h2>
		<p>For each point of damage a frame takes, it loses one of its systems. The owner chooses which system it loses. Pop off a representative part of the frame and drop it on the field. Since that system is gone, it doesn&#8217;t provide any benefits in any future turns. If it has no systems left, damage continues to the frame and eliminates white dice. Once both whites are gone, the frame is destroyed. If the frame is within 1 unit range of a station, its owner can choose to have it ignore 1 damage and instead abandon its position, moving the mobile frame away from the station to just outside of contesting range.</p>
		<div class="ref-hint"><p>Hint: Taking damage doesn&#8217;t affect the dice you&#8217;ve already rolled or your frame&#8217;s capabilities unless the frame is destroyed. They&#8217;re yours to use until the end of this mobile frame&#8217;s turn. For example, if you have two spotting systems and choose to remove one of them, you may still spot any frame on the field this turn. During the next round, you will be limited to spotting nearby frames.</p></div>
		<p>When a frame is destroyed, the owner loses points accordingly&#8212;recalculate the score.</p>
	</div>
</div>
<div data-role="page" id="ref_quick_example-attack">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Example Attack</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>One of Joshua&#8217;s frames is coming under attack by ranged fire. It has already been spotted by one Sebastian&#8217;s frames and now one of Vincent&#8217;s frames is firing. Luckily, it is in cover.</p>
		<ul>
			<li>Joshua&#8217;s defense: 6</li>
			<li>Vincent&#8217;s attack: 4</li>
			<li>Sebastian&#8217;s spot: 5</li>
			<li>4 + 5 - 6 = 3 hits</li>
			<li>Vincent rolls 1, 4, 5 on damage dice</li>
			<li>The hit chart for a target in cover is used; the 1 has no effect</li>
			<li>The 4 is resolved first, damaging the cover</li>
			<li>Vincent removes 6 bricks, which removes the cover</li>
			<li>The hit chart for a target outside of cover is used</li>
			<li>The 5 damages Joshua&#8217;s frame</li>
			<li>Joshua decides to lose 1 defense system</li>
		</ul>
	</div>
</div>
<div data-role="page" id="ref_play_doomsday">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Doomsday Clock</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>At the beginning of a game, put down the doomsday counter (often a d12 or d20) and set it to 11. This is the doomsday clock. At the end of every round, the doomsday clock counts down by one. In order from highest current score to lowest, each player chooses to count down the DDC by 1 or to pass. When the DDC reaches 0, the battle ends, and the player with the highest score wins. Ties are possible; the game does not go to overtime or use a secondary method to resolve them&#8212;it simply ends in a tie.</p>

		<div class="ref-hint"><p>Hint: Whoever has the highest score will generally want to advance the DDC, whoever has a lower score typically will not.</p></div>

		<div class="ref-note"><p>The Asset Tracker section of this app contains a Doomsday counter.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_judgment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Principle of judgment calls</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Sometimes, situations are unclear. In that case, favor the outcome which was intended by the action. In detail:</p>
		<ul>
		<li>Defense: If it&#8217;s a close call, consider the defender to be in cover</li>
		<li>Moving: If it&#8217;s a close call, allow the frame to move to that position</li>
		<li>Attack &amp; Spot: If it&#8217;s a close call, consider the target to be within the attacker&#8217;s/spotter&#8217;s desired range.</li>
		</ul>
		<div class="ref-hint"><p>Hint: Frames on the border of a given range may be considered &#8220;in range&#8221; for both ranges. This means that placing a frame there to make an attack may make it easier for the opponent to fire back at you as well.</p></div>
	</div>
</div>
<div data-role="page" id="ref_quick_deployment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Quick deployment overview</h1>
	</div>
 	<div role="main" class="ui-content">
		<div class="ref-note"><p>Note: This app contains a deployment guide which is presented when the Asset Tracking section is utilized.</p></div>
		<ul>
			<li>Defender places all stations, must be within 1 ruler of at least one other station to establish perimeter</li>
			<li>Defender places 2 frames inside of the defensive perimeter (1 ruler around each station)</li>
			<li>Point Attacker places Point Mobile Frame at the limit of&#8212;but within&#8212;1 ruler of one Defender frame, out of cover</li>
			<li>Attackers place all frames, alternating descending by score, outside the defensive perimeter</li>
			<li>Attackers place all stations, alternating descending by score, outside the defensive perimeter</li>
			<li>Defender places remaining frames. If outside of defensive perimeter, must be in cover</li>
		</ul>
	</div>
</div>
<div data-role="page" id="ref_optional_split-range">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Split-range weapons</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>With everyone&#8217;s approval, you can declare your weapon systems to be split-range. For purposes of building your frames, a split weapon counts as two half-systems, one of each type. A split hand-to-hand/direct-fire weapon counts as half a hand-to-hand weapon system and half a direct-fire weapon system, for instance. You still aren&#8217;t allowed to have more than 2 systems of each type.</p>
		<p>You only add one red d6 for each half-system. If you use only half-systems to get all the way up to the maximum of 2, you don&#8217;t get the red d8. Instead, you will roll four red d6.</p>
		<p>Examples: A split-range pistol might add one red d6 at direct-fire and one red d6 at hand-to-hand. A split-range scoped assault rifle might add one red d6 at direct-fire range and one red d6 at artillery range.</p>
		<div class="ref-hint"><p>Hint: While this rule is quite commonly used with MFZ players, keep in mind that you sacrifice reliability for flexibility.</p></div>
		<div class="ref-note"><p>Note: Split systems can be enabled in the app settings from main page.</p></div>
	</div>
</div>
<div data-role="page" id="ref_optional_elevation">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Climbing, elevation &amp; falling</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Before you field your companies, you can agree as a group to allow climbing. Mobile frames can gain benefit from climbing onto structures if they&#8217;re at least 6 bricks high and at least 4 studs in area. When a mobile frame moves, climbing up or down 6 bricks&#8217; height counts the same as moving 1 ruler unit horizontally.</p>
		<div class="ref-note"><p>Note: You need terrain to use this optional rule. Build several pieces that provide elevation.</p></div>
		<p>To climb, a mobile frame has to have at least one appropriate movement system. A mobile frame with no movement systems can climb stairs or a ladder, if it&#8217;s built into the structure. <p>A higher mobile frame is in cover to all lower mobile frames. A lower mobile frame is out of cover to any higher mobile frames, unless it&#8217;s under a roof. Mobile frames at the same elevation determine cover normally. Don&#8217;t consider elevation differences less than 6 bricks. If a mobile frame falls&#8212;for instance if the structure it stood on is destroyed&#8212;it could take damage. Roll 1 damage die for every 3 bricks&#8217; height the frame fell, and use the damage chart for hand-to-hand attacks (4, 5 &#38; 6 damage the frame).</p>
	</div>
</div>
<div data-role="page" id="ref_optional_hazardous">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Hazardous terrain &amp; protection</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Before you create your companies, you can agree as a group to include hazardous terrain in your upcoming battlefield. When you build your frames, you can give them an appropriate environmental system. It counts against your limit of 4 systems per mobile frame. In order to function effectively in hazardous terrain, a mobile frame needs the appropriate environmental system. Without it, when you roll dice, reduce your white dies by one.</p>
		<p>Examples: When fighting in the vacuum of space on a ship&#8217;s hull, a frame might need magnetized soles. When wading through a swamp with irritating gases, a sealed air system is important. Whilst in subzero conditions, a thermal unit would be advisable.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_per-frame-initiative">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Per-frame initiative</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>With this optional rule, every frame has their own initiative. If a frame has less than four systems, roll 2d20. If it has four systems, roll 1d20. Leave the dice as markers next to the frames.</p>
		<p>When a round starts, tactical order starts with the frame that has the lowest number, and goes through the sequence, up to 20. If a frame has 2d20, you can pick which one to use as soon as your lower number comes up. Once chosen, the initiative remains for the duration of the game. Alternatively, roll again for every new round for even more chaos and unpredictable outcomes.</p>
		<div class="ref-hint"><p>Hint: While this adds considerable amount of time to a round, it opens up for a more varied playing field and tactical options. Keep in mind, though, this favors attackers, that normally have the lowest initiatives. You will also need a large number of d20s to use this rule: up to two for each frame on the field.</p></div>
	</div>
</div>
<div data-role="page" id="ref_optional_drop-white">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Dropping Whites for damage</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>If one of your frames takes damage, you may want to drop a White instead of a system&#8212;either because you do not want to lose your last weapon or foresee that you get more use out of the special effect of that system being present over the versatility of the White.</p>
		<p>Keep in mind that you cannot drop your last White, though&#8212;a frame will still be destroyed when all Whites are gone.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_jettison">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Jettisoning Systems</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>Before you roll your dice, you may remove systems from your own frame. Lay them on the field as if destroyed in battle; these cannot be picked up and used again. This has the effect of damaging your frame but may add the Green d8 to the dicepool when you roll. You may not jettison Whites.</p>
	</div>
</div>
<div data-role="page" id="ref_other_demo">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Demo games</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>An easy way to get people interested in MFZ are demo games. Try these simplified rules by Vincent Baker:</p>
		<p>One station goes in the middle of the battlefield. Everybody gets two frames, one soldier and one hand-to-hand or one soldier and one artillery. Set the frames up yourself in appropriate places on the battlefield, in roughly equilateral triangles whose sides are 8 units. Some in cover, some out. It&#8217;s important that everybody has a frame at 5&#8211;6 units away from the objective, but nobody has one closer.</p>
		<p>Because everybody&#8217;s sides are equal, everything on the board is worth 5 points to everybody, so point out: &#8220;in the full game, things are worth different points to different players, but here, everything&#8217;s worth 5 points. You each have 2 frames so you each have 10 points. If you lose a frame, you lose 5 points. If you grab the objective, you gain 5 points.&#8221;</p>
		<p>Set the doomsday clock to 5. Expect to play 3 turns. &#8220;When the doomsday clock hits zero, whoever has the most points wins.&#8221;</p>
		<p>Since everybody&#8217;s sides are equal, nobody has initiative. &#8220;In the full game, initiative depends on how many points you have, and maybe we&#8217;ll see that next turn, but since everybody&#8217;s equal, we&#8217;ll just start on my left and go around.&#8221; If you&#8217;re quick with the rules, this is a 15- or 20-minute demo for 3 players, maybe a 30-minute demo for 5. If somebody&#8217;s not getting the rules, I try to just talk them clearly through the decisions their dice are asking them to make. &#8220;First choose your target. Now gather your dice: you get [these]. Roll &#8216;em! Okay, now you need a defense number. Choose a blue or a white. Perfect. Now, do you want to move first, then attack, or attack first, then move? Great. Here&#8217;s what we do&#8230;&#8221;</p>

		<div class="ref-note"><p>Note: Choose &#8220;Demo/Free&#8221; as the game type in the Asset Tracker to allow this app to track this kind of game.</p></div>
	</div>
</div>
<div data-role="page" id="ref_other_credits">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Credits/Disclaimer</h1>
	</div>
 	<div role="main" class="ui-content">
		<p>If you like Mobile Frame Zero, visit <a href="http://mobileframezero.com/">mobileframezero.com</a> and purchase one of the original rulebooks. MFZ is donationware&#8212;pay whatever you like, if anything, for the PDF. The physical book is available for US$25.</p>

 		<p>This reference is heavily based on <em>MFZ:Condensed v0.93</em> by Christian &#8220;Ced23Ric&#8221; Rasch (and other authors) which is available <a href="http://www.mobileframehangar.com/viewtopic.php?f=32&amp;t=4510" target="_blank">from this thread</a> on the Mobile Frame Hangar forums.</p>

		<h2>Disclaimer</h2>
		<p>This reference does not change the rules laid forth by the original designers of Mobile Frame Zero. The goal is to provide an accurate, up-to-date, fully errata&#8217;d version of the rules in a portable reference, and not to replace the original Mobile Frame Zero: Rapid Attack rulebook. The official book contains additional content on setting, build instructions, construction techniques, rule adjustments, and more that is not compiled here.</p>
	</div>
</div>

<div data-role="page" id="ref_quick_hit-chart">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Rules Reference: Hit Charts</h1>
	</div>

	<div role="main" class="ui-content">
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Hand-to-hand:</h2>
			<img src="img/MFZ-Hit-h2h.svg">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target not in cover:</h2>
			<img src="img/MFZ-Hit-range.svg">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target in cover:</h2>
			<img src="img/MFZ-Hit-cover.svg">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target covered by a frame:</h2>
			<img src="img/MFZ-Hit-frame.svg">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Targeting cover (any range):</h2>
			<img src="img/MFZ-Hit-terrain.svg">
		</div>
	</div>
</div>

<div data-role="page" id="ref_quick_turn-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Turn order</h1>
	</div>
 	<div role="main" class="ui-content">
 		<p>There are two methods that MFZ:RA uses to determine turn order: Tactical Order and Combat Order.</p>

 		<h2>Tactical Order</h2>
 		<p>The game begins in Tactical Order. The player with the highest score right now goes first. The player may choose one of their frames and take its turn, or pass to the player with the next highest score. A player must choose to activate a frame if there is nobody lower to pass to, and a player passes automatically when all frames are activated.</p>

 		<p>If the activated frame makes an attack against a frame that has not already activated, switch to Combat Order. Otherwise, return to the player with the highest score when the turn completes. Don&#8217;t forget to update scores if necessary before beginning the next turn, as it may change the order.</p>

 		<h2>Combat Order</h2>
		<p>In combat order, the attacking &amp; defending frames&#8217; turns entwine. The frame which is coming under fire must activate now. This frame may, in turn, attack another unactivated frame, creating a chain of activations.</p>

		<p>After assigning an attack value and declaring an attack, the attacker&#8217;s turn pauses. The defending frame begins its turn as far as assigning a defense value, then pauses and the attacker finishes its turn. The defender then continues its turn normally.</p>

		<p>Once all combat is resolved, update scores if necessary and return to Tactical Order.</p>

		<div class="ref-hint"><p>More detail on both order types can be found in the full reference.</p></div>
	</div>
</div>
