<div data-role="page" id="main-page">
	<div role="main" class="ui-content">
		<div id="home-title">
			<img src="img/MFZRA-logo.svg" alt="Mobile Frame Zero: Rapid Attack" title="" />
			<h2>Commander&#8217;s Handbook</h2>
			<p><small>Tools and Resources for MFZ:RA</small></p>
			
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<p>Logged in as {{ app.user.getUsername()|e }} | <a href="{{ path('fos_user_security_logout') }}" rel="external">Logout</a></p>
			{% else %}
				<p>Unauthenticated<br />
				<a href="{{ path('fos_user_security_login') }}" rel="external">Login</a> or <a href="{{ path('fos_user_registration_register') }}" rel="external">Register</a></p>
			{% endif %}
		</div>
		<div id="main-nav">
		</div>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<h4 id="version">-</h4>
		<a href="#settings" class="ui-btn ui-btn-left ui-btn-c ui-icon-gear ui-btn-icon-notext ui-corner-all">Preferences</a>
		<a href="#license" class="ui-btn ui-btn-right ui-btn-c ui-icon-info ui-btn-icon-notext ui-corner-all">General Information</a>
	</div>
</div>