<div id="license" data-role="page">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>General Information</h1>
	</div>
	<div role="main" class="ui-content">
		<div data-role="collapsible-set" data-expanded-icon="carat-d" data-collapsed-icon="carat-r">
			<div data-role="collapsible">
				<h3>Credits</h3>
				<p>&#169;2014&#8211;2018 Michael Niggel and <a href="http://hazardcreative.com">Hazard Creative</a>, LLC.</p>

				<p>The MFZ:RA Commander&#8217;s Handbook contains material sourced and adapted from a number of authors. All materials are reproduced within the rights of their respective licenses. Each of these works is attributed here. Each work has multiple authors; full credit and license details for each can be found with the original work.</p>

				<ul>
					<li><em>Mobile Frame Zero: Rapid Attack</em> is available from <a href="http://mobileframezero.com" target="_blank" data-rel="external">mobileframezero.com</a></li>
					<li>The Mobile Frame Zero Archetypes are adapted from the list maintained on the <a href="http://the-mobile-frame-garage.blogspot.com/p/mfz-archetype-list.html" target="_blank" data-rel="external">Mobile Frame Garage</a> blog.</li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>License &#38; Privacy</h3>

				<p>This app is provided without warranty of any kind. By using this app, you agree to assume all risks and hold harmless its author(s) for all issues relating to or created by its use.</p>

				<p>By using this app, you agree that all information you provide to it is NOT sensitive or personally identifying. <em>This app is not designed or intended to protect and secure your personal information. The author of the app and provider of this service provide NO GUARANTEE to the security of the data collected by this app.</em></p>

				<p>This app uses a small amount of storage space if provided by your device in order to retain information you have entered into the app and preserve state between page/app changes. Clearing your web browser&#8217;s stored data removes all information for this app, but will prevent some features from functioning.</p>

				<p>This app collects anonymized usage statistics using the same method as most web pages. This information is used primarily to improve the app and understand its users. This information may be shared with third parties, but is not personally identifiable or associated with any user account. You may opt out of tracking and still use this app by either using the app in offline mode or using any <a href="https://tools.google.com/dlpage/gaoptout/">currently available opt-out</a> for Google Analytics.</p>

				<p>Some information you provide this app (such as your username) may be publicly displayed. Some information that you provide to this app may be displayed to other registered users of this app if you elect to do so (your profile information, including defined locations). All information may be modified or deleted by you at any time, except your username which cannot be changed. When you provide your location, it is not retained in any location history, except as explicitly elected by you as part of your profile.</p>

				<p>This app may store your information in a database on a remote server in order to provide consistency between devices you use with it and to provide information you choose to share with other members to those parties.</p>

				<p>This work is made possible by the generosity in licensing of the above mentioned authors. It, in turn, is licensed under the <em>Creative Commons, Non-commercial, Share-Alike</em> license. That means you can copy and modify it, produce derivative works, and share it freely. You may not, however, sell it, remove the attribution of the creators, (or of the above works upon which this derivitave is built,) or change this license. Furthermore, derivitave works must follow the terms of all of the licenses above as long as any part of their content is present in the derivative.</p>
			</div>
		</div>
	</div>
</div>
