<div data-role="page" id="game-setup">

	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Battle Tracking</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>

	<div role="main" class="ui-content">
		<ul id="game-params" data-role="listview" data-inset="true" class="ui-corner-all" data-theme="d">
			<li data-role="list-divider"><h3>Standard Options</h3></li>

			<li class="ui-field-contain" id="game-players">
				<label for="game-players-amount">Players</label>
				<input name="game-players-amount" id="game-players-amount" value="3" min="2" max="5" type="range" data-highlight="true" />
			</li>
			<li class="ui-field-contain" id="game-type">
				<label for="game-type-switch" class="hide-if-compact-ui">Game Type:</label>
				<select name="game-type-switch" id="game-type-switch">
					<option value="Battle">Battle</option>
					<option value="Skirmish">Skirmish</option>
					<option value="Demo">Short Demonstration</option>
					<option value="Custom">Custom Game</option>
				</select>
			</li>

			<li class="ui-field-contain">
				<div data-role="rangeslider" id="gp-framesPerPlayer">
					<label for="gp-framesPerPlayerMin">Frames per Company</label>
					<input name="gp-framesPerPlayerMin" id="gp-framesPerPlayerMin" value="1" min="1" max="8" type="range" />
					<label for="gp-framesPerPlayerMax">Frames per Company</label>
					<input name="gp-framesPerPlayerMax" id="gp-framesPerPlayerMax" value="8" min="1" max="8" type="range" />
				</div>
			</li>

			<li class="ui-field-contain">
				<label for="gp-stationsPerPlayer">Stations per Company</label>
				<input name="gp-stationsPerPlayer" id="gp-stationsPerPlayer" value="0" min="0" max="3" type="range" data-highlight="true" />
			</li>

			<li class="ui-field-contain">
				<label for="gp-unclaimedStations">Unclaimed Stations</label>
				<input name="gp-unclaimedStations" id="gp-unclaimedStations" value="0" min="0" max="1" type="range" data-highlight="true" />
			</li>

			<li class="ui-field-contain">
				<label for="gp-doomsday">Doomsday</label>
				<input name="gp-doomsday" id="gp-doomsday" value="0" min="1" max="11" type="range" data-highlight="true" />
			</li>

			<li class="ui-field-contain">
				<label for="game-tracking-level" class="hide-if-compact-ui">Tracking Type: <a href="#tracking-level-info" data-rel="popup" class="item-help">?</a></label>
				<select name="game-tracking-level" id="game-tracking-level">
					<option value="10">Quick</option>
					<option value="20">Detailed</option>
					<option value="30">Complete</option>
				</select>
			</li>

			<li data-role="list-divider"><h3>Elite Options</h3></li>

			<li data-elite-visible="false"><em>Become a Patreon supporter to enable these options.</em></li>

			<li class="ui-field-contain">
				<label for="game-blind-setup">Blind setup: <a href="#blind-setup-info" data-rel="popup" class="item-help">?</a></label>
				<select name="game-blind-setup" id="game-blind-setup" data-role="flipswitch" data-elite="true">
					<option value="off">Off</option>
					<option value="on">On</option>
				</select>
			</li>
			<li class="ui-field-contain">
				<label for="game-view-access">Sharing:</label>
				<select name="game-view-access" id="game-view-access" data-role="flipswitch" data-elite="true">
					<option value="off">Off</option>
					<option value="on">On</option>
				</select>
			</li>

			<li data-online-visible="true" class="game-online-form" data-role="list-divider"><h3>Online Options</h3></li>
			<li data-online-visible="true" class="game-online-form ui-field-contain">
				<label for="game-viewpassword">Password to View</label>
				<input name="game-viewpassword" id="game-viewpassword" value="" type="password" autocomplete="off" placeholder="(None)" data-elite="true"/>
			</li>
			<li data-online-visible="true" class="game-online-form ui-field-contain">
				<label for="game-modifypassword">Password to Modify</label>
				<input name="game-modifypassword" id="game-modifypassword" value="" type="password" autocomplete="off" placeholder="(None)" data-elite="true"/>
			</li>
		</ul>

		<a href="#" class="ui-btn ui-btn-b ui-icon-carat-r ui-btn-icon-right ui-corner-all" id="create-game" data-transition="slide">Create Game</a>
	</div>

	<div data-role="popup" id="tracking-level-info" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false">
		<div data-role="header">
			<h1>Tracking Level</h1>
		</div>

		<div role="main" class="ui-content">
			<p>Tracking Level adjusts the amount of information recorded and used by the asset tracker. All levels track doomsday, rounds, and scoring.</p>

			<ul>
				<li>
					<p><strong>Quick</strong> tracking uses only the number of frames and stations which each company controls. It is simplest to set up and does not require complete loadout data to use in a game.</p>
				</li>
				<li>
					<p><strong>Detailed</strong> tracking adds named frames and frame systems.</p>
				</li>
				<li>
					<p><strong>Complete</strong> tracking adds whether or not a frame has activated, spot values, and defense values. You can use it to play a game without owning any dice.</p>
				</li>
			</ul>
		</div>
	</div>

	<div data-role="popup" id="blind-setup-info" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false">
		<div data-role="header">
			<h1>Blind Setup</h1>
		</div>

		<div role="main" class="ui-content">
			<p><strong>Blind setup</strong> hides company information until the game has started. This prevents players from viewing others' setup when entering company data.</p>
			<p>Once turned on, the Handbook may clear the team list if a user attempts to change game parameters.</p>
		</div>
	</div>
</div>

<div data-role="page" id="company-entry">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Company Entry</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>

	<div role="main" class="ui-content">
		<div class="game-link">Error</div>

		<div class="game-params-info"><span class="game-params-text">-</span></div>

		<p><button id="change-parameters" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-bullets" data-direction="reverse" data-transition="slide">Change Parameters</button></p>

		<ul data-role="listview" data-split-icon="delete" data-inset="true" id="teams">
			<li>Your device does not support this application or an error has occurred.</li>
		</ul>

		<div id="game-ready-status">Error</div>
	</div>

	<div data-role="popup" id="team-adjust" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false">
		<div data-role="header">
			<h1>Edit Company</h1>
		</div>

		<div role="main" class="ui-content">
			<form id="team-adjust-form">
				<input name="team-id" id="team-id" type="hidden">

				<div id="team-adjust-info">
					<div class="field">
						<label for="team-name" class="hide-if-compact-ui">Company Name:</label>
						<input name="team-name" id="team-name" type="text" />
					</div>

					<div class="field">
						<label for="team-color" class="hide-if-compact-ui">Color</label>
						<input name="team-color" id="team-color" type="color" />
					</div>
				</div>

				<div id="team-adjust-data-short">
					<div class="field">
						<label for="team-frames">Frames:</label>
						<input name="team-frames" id="team-frames" value="5" min="1" max="8" type="range" />
					</div>

					<div class="field">
						<label for="team-systems">Systems:</label>
						<input name="team-systems" id="team-systems" value="20" min="0" max="32" type="range" />
					</div>
				</div>

				<div id="team-adjust-data-long">
					<ul data-role="listview" data-split-icon="delete" data-inset="true" id="team-adjust-long-company-list">
						<li>Your device does not support this application or an error has occurred.</li>
					</ul>
				</div>
			</form>

			<div id="team-adjust-submit">
				<a href="#" data-rel="back" class="ui-btn ui-btn-a ui-corner-all ui-btn-inline">Done</a>
				<button id="team-regen" class="ui-btn ui-corner-all ui-btn-inline">Generate</button>
				<button id="team-choose-company" class="ui-btn ui-corner-all ui-btn-inline">Import Company</button>
			</div>
		</div>
	</div>

	<div data-role="popup" id="team-adjust-frame" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false">
		<div data-role="header">
			<h1>Edit Frame</h1>
		</div>

		<div role="main" class="ui-content">
			<form id="team-adjust-frame-form">
				<input name="team-frame-id" id="team-frame-id" type="hidden">

				<div id="frame-adjust-info">
					<label for="team-adjust-frame-name" class="hide-if-compact-ui">Frame Name:</label>
					<input name="team-adjust-frame-name" id="team-adjust-frame-name" type="text" />
				</div>

				<div class="addbox">
					<p class="hide-if-compact-ui">Add Systems</p>
					<p class="shrink-if-compact-ui"><a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="w">W</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rh">Rh</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rd">Rd</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="ra">Ra</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="b">B</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="y">Y</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="g">G</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="ssr">SSR</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rhd" data-sys-split="true">Rh/d</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rha" data-sys-split="true">Rh/a</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rda" data-sys-split="true">Rd/a</a>
						<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="e" data-sys-env="true">E</a>
						<a href="#" class="reset-sys ui-btn ui-btn-a ui-btn-inline ui-corner-all">Reset</a></p>
				</div>
				<div class="sysbox">
					<p class="hide-if-compact-ui">Current Systems <small>(tap to remove)</small></p>
					<div id="team-adjust-frame-systems"></div>
				</div>
			</form>

			<div id="team-adjust-frame-submit">
				<a href="#" data-rel="back" class="ui-btn ui-btn-a ui-corner-all ui-btn-inline">Done</a>
			</div>
		</div>
	</div>

	<div data-role="popup" id="team-import-company" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false">
		<div data-role="header">
			<h1>Select Company</h1>
		</div>

		<div role="main" class="ui-content">
			<form id="team-import-company-form">
				<ul data-role="listview" data-split-icon="delete" data-inset="true" id="team-import-company-list">
					<li>Your device does not support this application or an error has occurred.</li>
				</ul>
			</form>

			<div id="team-import-company-submit">
				<a href="#" data-rel="back" class="ui-btn ui-btn-a ui-corner-all ui-btn-inline">Cancel</a>
			</div>
		</div>
	</div>
</div>

<div data-role="page" id="setup-tie" data-transition="pop">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Resolve Ties</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>

	<div role="main" class="ui-content">
		<p><strong>There is a tie for highest starting score.</strong></p>

		<form id="def-team-choice">
			<input name="def-team-choice-id" id="def-team-choice-id" type="hidden">

			<p><strong class="def-tie-choice-team">[error]</strong> must now choose:</p>

			<ul data-role="listview" data-inset="true" id="def-tie-choice" data-theme="b">
				<li>Error</li>
			</ul>
		</form>

		<div class="game-params-info"><span class="game-params-text">-</span></p>

		<ul data-role="listview" data-split-icon="delete" data-inset="true" id="def-tie-teams">
			<li>Your device does not support this application or an error has occurred.</li>
		</ul>

		<p><button id="tie-change-parameters" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-bullets" data-direction="reverse" data-transition="slide">Change Parameters</button></div>
	</div>

	<div data-role="popup" id="tie-frame-add" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false" data-dismissible="false">
		<div data-role="header">
			<h1>Add Frame</h1>
		</div>

		<div role="main" class="ui-content">
			<form id="tie-frame-add-form">
				<div class="short">
					<label for="tie-frame-add-amount-short">How many systems will this frame have?</label>
					<input name="tie-frame-add-amount-short" id="tie-frame-add-amount-short" value="4" min="0" max="4" type="range" data-highlight="true" />
				</div>
				<div class="long">
					<input type="hidden" name="tie-frame-add-id" id="tie-frame-add-id" />
					<div id="frame-adjust-info">
						<label for="tie-frame-add-name" class="hide-if-compact-ui">Frame Name:</label>
						<input name="tie-frame-add-name" id="tie-frame-add-name" type="text" />
					</div>

					<div class="addbox">
						<p class="hide-if-compact-ui">Add Systems</p>
						<p class="shrink-if-compact-ui"><a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="w">W</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rh">Rh</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rd">Rd</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="ra">Ra</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="b">B</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="y">Y</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="g">G</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rhd" data-sys-split="true">Rh/d</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rha" data-sys-split="true">Rh/a</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="rda" data-sys-split="true">Rd/a</a>
							<a href="#" class="add-sys ui-btn ui-btn-inline ui-corner-all" data-sys-type="e" data-sys-env="true">E</a>
							<a href="#" class="reset-sys ui-btn ui-btn-a ui-btn-inline ui-corner-all">Reset</a></p>
					</div>
					<div class="sysbox">
						<p class="hide-if-compact-ui">Current Systems <small>(tap to remove)</small></p>
						<div id="tie-frame-add-systems"></div>
					</div>
				</div>
			</form>

			<div>
				<a href="#" class="ui-btn ui-btn-a ui-corner-all ui-btn-inline" id="tie-frame-add-submit">Confirm</a>
			</div>
		</div>
	</div>

	<div data-role="popup" id="tie-frame-remove" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false" data-dismissible="false">
		<div data-role="header">
			<h1>Remove Frame</h1>
		</div>

		<div role="main" class="ui-content">
			<form id="tie-frame-remove-form">
				<div class="short">
					<label for="tie-frame-remove-amount-short">How many systems does the removed frame have?</label>
					<input name="tie-frame-remove-amount-short" id="tie-frame-remove-amount-short" value="4" min="0" max="4" type="range" data-highlight="true" />
				</div>
				<div class="long">
					<p>Which frame was removed?</p>

					<ul data-role="listview" data-icon="delete" data-inset="true" id="tie-frame-remove-list-long">
						<li>Your device does not support this application or an error has occurred.</li>
					</ul>
				</div>
			</form>

			<div>
				<a href="#" class="ui-btn ui-btn-a ui-corner-all ui-btn-inline short" id="tie-frame-remove-submit">Confirm</a>
			</div>
		</div>
	</div>

	<div data-role="popup" id="tie-ssr-resolve" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false" data-dismissible="false">
		<div data-role="header">
			<h1>Replace SSR</h1>
		</div>

		<div role="main" class="ui-content">
			<p>The removed frame contained <span id="tie-add-ssr-count">-</span> reassigned to the company. Choose a frame for each SSR.</p>
			<form id="tie-ssr-form">
				<ul data-role="listview" data-icon="arrow-l" data-inset="true" id="tie-ssr-add">
					<li>Your device does not support this application or an error has occurred.</li>
				</ul>
			</form>
		</div>
	</div>
</div>

<div data-role="page" id="remote-password" data-transition="pop">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Access Remote Game</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
		<a href="#" id="exit-game" class="ui-btn-right ui-btn ui-btn-a ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-star">Exit Game</a>
	</div>

	<div role="main" class="ui-content">
		<form id="game-password-entry">
			<div id="password-fail" class="ui-body ui-body-c ui-corner-all"><p>Wrong password. Please try again.</p></div>
			<p id="game-password-description">Enter a password.</p>
			<p><label for="game-enterpassword">Password:</label>
			<input name="game-enterpassword" id="game-enterpassword" value="" type="password" autocomplete="off" /></p>
			<p><button id="game-password-go" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-arrow-r">Enter</button></div>

		</form>
	</div>
</div>

<div data-role="page" id="remote-hold" data-transition="pop">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Remote Game</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
		<a href="#" id="exit-game" class="ui-btn-right ui-btn ui-btn-a ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-star">Exit Game</a>
	</div>

	<div role="main" class="ui-content">
		<p>Please wait while setup of this remote game is in progress. This page will automatically update when the game is ready to proceed.</p>
	</div>
</div>

<div data-role="page" id="remote-noconnection" data-transition="pop">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Remote Game</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
		<a href="#" id="exit-game" class="ui-btn-right ui-btn ui-btn-a ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-star">Exit Game</a>
	</div>

	<div role="main" class="ui-content">
		<p>The connection to this shared game has been lost. This might have occurred because either you or the server are not connected to the internet; or, this shared game no longer exists.</p>

		<p>This page will automatically update if the connection can be re-established.</p>
	</div>
</div>