<ul data-role="listview" data-inset="true" class="nav-listview" id="main-nav">
	<li><a href="/#game-tracking" id="battle-link">Battle Tracking</a></li>
	<li><a href="/#dice-roller">Frame Simulator</a></li>
	<li><a href="/#rules-reference">Rules of Engagement</a></li>
	<li><a href="/#tactics-and-strategy">Tactics and Strategy</a></li>
	<li><a href="/#loadouts">Frame Loadouts</a></li>
	<li><a href="/#company-analysis">Company Structure</a></li>
</ul>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<ul data-role="listview" data-inset="true" class="nav-listview" id="online-nav">
	<li><a href="/command-network" data-ajax="false">Commander Profile</a></li>
	<li><a href="{{ path('player-finder') }}" data-ajax="false">Locate Commanders</a></li>
</ul>
{% endif %}

<button class="a2hs" class="ui-btn ui-corner-all ui-btn-a">Add to Home Screen</button>
