{% extends 'main.html.twig' %}

{% block htmlhead %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<script src="{{ asset('leaflet/leaflet.js') }}"></script>
<script src="{{ asset('jq/mfzch/generics.js') }}"></script>
{% endblock %}

{% block main %}
<script>
if (typeof jQuery != 'undefined') {
	// enable block-level ajax disable
	$.mobile.ajaxEnabled = false;
}
</script>
<div data-role="page" id="profile">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Your Profile</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>
	<div role="main" class="ui-content">
		<p>Logged in as: <em>{{ msgphp_user.user.email }}</em></p>
	</div>
</div>
{% endblock %}
